/* Main site div */
.main {
    max-width: 800px;
}

html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width:565px;
    height:480px;
}

/* Header */
.header {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#hat-logo {
    width: 50%;
}

#hat-logo-div {
    float: right;
    padding-top: 10px;
}

#hat-text {
    float: left;
}

/* Page footer */
.footer {
    margin-top: 20px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

label {
    margin-top: 4px;
}

/* Datatables */
table.dataTable tbody td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
    font-weight: bold;
    color: #31708f;
}

table.dataTable thead th {
    text-align: center;
    color: #31708f;
}

.weather-table {
    color: #31708f !important;
}

#dt-header {
    text-align: center;
    font-weight: bold;
    color: #31708f;
    font-size: 16px;
}

/* Charts.js */
#myChart {
    margin: auto;
}

/* question link */
#question {
    margin-left: 5px;
}

#question.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}

/* weather link in datatables */
.full-weather-link {
    cursor: pointer;
}

/* modal weather table */
#modal-weather-table {
    border: 1px solid lightgray;
    text-align: center;
    color: #31708f;
    font-size: 16px;
}

#modal-weather-table .modal-weather-heads {
    font-weight: bold;
}

#modal-weather-table #modal-weather-date {
    vertical-align: middle;
    font-size: 17px;
    color: #31708f;
    font-weight: bold;
}

#weather-modal-title {
    color: #31708f;
}

.pager {
    margin: 0 !important;
}

.pager li a {
    width: 100px; !important;
    font-weight: bold;
}

.pager li a .disabled{
    color: lightgray;
}

#modal-weather-table td, #modal-weather-table th {
    border: none;

}
